<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Customer accounts</title>
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/admin/account/create}">Create Account  <span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/transaction/create}">Create Transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/customer/create}">Create Customer</a>
            </li>
            <li class="nav-item">
                <a id="logout" th:href="@{/logout}">Log Out</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<h1>Accounts</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Balance</th>
        <th>Customer Id</th>
        <th>Active</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="accountDto : ${account}">
        <td th:text="${accountDto.id}"></td>
        <td th:text="${accountDto.balance}"></td>
        <td th:text="${accountDto.customerId}"></td>
        <td th:text="${accountDto.active}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>